.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
test-workspace/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
